@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --sidebar-color: #212121;
    --text-color: #e4e6eb;
    --main-color: #18191A;
    --img-height: 30px;
}

body{
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: var(--main-color);
    color: #e4e6eb;
    font-family: "Roboto";
    margin: 0;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    padding: 10px 10px;
    color: var(--text-color);
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    display: flex;
    gap: 10px;
    align-items: center;
}

.sidebar button{
    background-color: var(--sidebar-color);
}

button:hover {
    background-color: #3a3b3c;
}

button:active {
    background-color: #808080;
}

img{
    height: var(--img-height);
    filter: invert(1);
}

.sidebar{
    background-color: var(--sidebar-color);
    padding-left: 5px;
}

.add:hover{
    background-color: #33b249;
}

.project-title, 
.project-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title .add, .delete{
    visibility: hidden;
}

.project-title:hover .add{
    visibility: visible;
}

.delete:hover, .todo-delete:hover {
    background-color: #D11A2A;
}

.project-list:hover .delete {
    visibility: visible;
}

.project {
    flex-grow: 1;
}

.content{
    margin-top: 20px;
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(500px,2fr) minmax(10px, 1fr);
    grid-template-rows: 150px;
    grid-auto-rows: 50px;
}

.todo-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3;
}

.content button {
    background-color: var(--main-color);
}

.todo-header .add:hover {
    background-color: #33b249;
}

.todo-list, .todo-container, .todo-description, .todo-dueDate{
    grid-column: 2 / 3;
}

.todo-container{
    display: grid;
    grid-template-columns: calc(var(--img-height) + 20px) minmax(200px,15fr) minmax(50px, 1fr);
    grid-template-rows: 30px;
    grid-auto-rows: auto;
    align-items: center;
}

.todo-title{
    font-size: 35px;
}

.todo-description {
    font-style: italic;
}

.todo-dueDate {
    display: flex;
    align-items: center;
}

.hr {
    grid-column: 1/4;
}